html, body {
  background-color: #cccccc;
  background-image: url(http://www1.ku.de/epigr/hinter.jpg);
  background-repeat: repeat;
  margin: 5px;
  padding: 0;
  height: 100%;
  font-size: 15px;
  color: #000000;
}
span.r_name {
  font-size: 110%;
  font-family: Times;
}
span.r_wert {
  font-size: 110%;
  font-family: Fixedsys;
}
p {
  font-decoration: underline;
}
p:link {
  color: blue;
}
p:visited {
  color: purple;
}p
p:active {
  color: red;
}
hr {
  margin-top:20px;
  margin-bottom:10px;
}